{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Display Jadwal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "{% static 'bootstrap.css' %}" rel = "stylesheet">
  <link href = "{% static 'style.css' %}" rel = "stylesheet">
</head>
<body class = "bodypage4">

<h1>Display Jadwal</h1>
<p>Jadwal yang ditampilkan</p>

<div class="container">
  <div class="row">
    <div class="col-sm">
        {% for every in post %}
        <h1>{{ every.post }}</h1>
        {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
            <ul>
                <li><a href ="/">Profile</a></li>
                <li><a href = "/trackrecord">Track Record</a></li>
                <li><a href = "/skills">Skills</a></li>
                <li><a href = "/socialmedia">Social Media</a></li>
                <li><a href = "/jadwal">Tambah Jadwal</a></li>
                <li><a class = "active" href = "/display">Display Jadwal</a></li>
                <li><a href = "/delete">Delete</a></li>
            </ul>
    </div>
  </div>
</div>

</body>
</html>
