{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Muhammad Michael Maulana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'style.css' %}" rel = "stylesheet">
  </head>

<body class = "body-custom">
    <div class="container">
        <div class="row">
          <div class="col">
            <img class="imgrocket" src="{% static 'rocket.svg' %}" alt="Rocket">
            <div class="wrapper">
              <h1>Halo</h1>
              <p>
                  Saya Muhammad Michael Maulana,<br>
                  mahasiswa Fakultas Ilmu Komputer<br>
                  Universitas Indonesia
              </p>

              <p>Di Fasilkom, saya mengambil jurusan Sistem Informasi.<br>
                Salah satu mata kuliah yang saya ambil semester ini <br>
                adalah Perancangan dan Pemrograman Web.<br>
              </p>
            </div>
          </div>
          <div class="col">
              <img class="imgprofile" src="{% static 'profilepicture.jpg' %}" alt="profilepicture">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li><a class = "active" href ="/">Profile</a></li>
              <li><a href = "/trackrecord">Track Record</a></li>
              <li><a href = "/skills">Skills</a></li>
              <li><a href = "/socialmedia">Social Media</a></li>
              <li><a href = "/jadwal">Tambah Jadwal</a></li>
              <li><a href = "/display">Display Jadwal</a></li>
              <li><a href = "/delete">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
</body>
</html>
