{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jadwal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "{% static 'bootstrap.css' %}" rel = "stylesheet">
  <link href = "{% static 'style.css' %}" rel = "stylesheet">
</head>
<body class = "bodypage4">

<h1>Jadwal</h1>
<p>Gunakan untuk menambah jadwal</p>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Tambah Jadwal</button>
      </form>
    </div>
    <div class="col-sm">
      {% for every in post %}
        <h1>{{ every.post }}</h1>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
  </div>
</div>


<ul>
    <li><a href ="/">Profile</a></li>
    <li><a href = "/trackrecord">Track Record</a></li>
    <li><a href = "/skills">Skills</a></li>
    <li><a href = "/socialmedia">Social Media</a></li>
    <li><a class = "active" href = "/jadwal">Tambah Jadwal</a></li>
    <li><a href = "/display">Display Jadwal</a></li>
    <li><a href = "/delete">Delete</a></li>
</ul> 

</body>
</html>
