{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Skills</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href = "{% static 'bootstrap.css' %}" rel = "stylesheet">
<link href = "{% static 'style.css' %}" rel = "stylesheet">
</head>
<body class = "bodypage4">

<div class="positionpage4">
<div class="container">
  <div class="row">
    <div class="col-sm">
	<div class="small">
	Kemampuan yang saya miliki<br><br>

	o Programming (Java, C++, Python)<br>
	o Berbahasa Inggris<br>
	o Mampu bekerja dalam team<br>
	o Beradaptasi dengan baik<br>
	</div>
    </div>
    <div class="col-sm">
	coding
 	<h1><img src="{% static 'coding.svg' %}"  alt="Coding" width="220" height="190"></h1>
    </div>
  </div>
</div>
</div>

<ul>
	<li><a href = "/">Profile</a></li>
	<li><a href = "/trackrecord">Track Record</a></li>
	<li><a class = "active" href = "/skills">Skills</a></li>
	<li><a href = "/socialmedia">Social Media</a></li>
	<li><a href = "/jadwal">Tambah Jadwal</a></li>
	<li><a href = "/display">Display Jadwal</a></li>
	<li><a href = "/delete">Delete</a></li>
</ul>

</body>
</html>