{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Social media</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "{% static 'bootstrap.css' %}" rel = "stylesheet">
		<link href = "{% static 'style.css' %}" rel = "stylesheet">
	</head>
	<body class = "body-custom">
		<div class = "wrapper">
			<div class = "layoutSM">
				<h1>Silahkan follow saya di:</h1>
				<p><img src="{% static 'instagram.svg' %}"  alt="instagram" width="25" height="25" align="left" style = "max-width:100%;height:auto;"> Instagram: michael_maulana</p>
				<p><img src="{% static 'twitter.svg' %}"  alt="twitter" width="25" height="25" align="left" style = "max-width:100%;height:auto;"> Twitter: @MMMaulana16</p>
				<p><img src="{% static 'youtube.svg' %}"  alt="youtube" width="25" height="25" align="left" style = "max-width:100%;height:auto;"> Youtube: Michael Maulana</p>
			</div>
		</div>

		<ul>
			<li><a href = "/">Profile</a></li>
			<li><a href = "/trackrecord">Track Record</a></li>
			<li><a href = "/skills">Skills</a></li>
			<li><a class = "active" href = "/socialmedia">Social Media</a></li>
			<li><a href = "/jadwal">Tambah Jadwal</a></li>
			<li><a href = "/display">Display Jadwal</a></li>
			<li><a href = "/delete">Delete</a></li>
		</ul>


	</body>
</html>