.body-custom{
	background-color: #FFFF66;
	background-image: url(sunrays.jpg);
}

.body-custom h{
	width: 100%;
}

.wrapper{
	width: 100%;
}

.wrapper h1{
	font-size:50px;
}

.wrapper p{
	font-size: 20px;
}

.wrapper z{
	font-size: 10px;
}

.imgrocket{
	padding: 20px 1px 1px;
	width: 40%;
}

.imgprofile{
	width: 100%;
	padding: 250px 10px 10px;
}

.layoutSM{
	padding: 200px 50px 20px;
}

.bodypage3{
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('orangebackground.jpg');
	padding: 50px 20px 50px;
}

.bodypage4{
	background-color: #FCDD8D
}

.headercustom
{
	position: relative;
	left: 200px;
	height: 50vh;
	text-align: left;
	font-family: sans-serif;
}

.positionpage3
{
	font-style: oblique;
	color: white;
	position:relative;

}

.positionpage4
{
	font-variant: small-caps;
	font-size:40px;
	color: black;
	position:relative;
	bottom:-100px;
	left:90px;
}

.special
{
	position: relative;
	bottom:-300px;
}

.special p{
	width:100%;
}

.searchbar
{
	position: relative;
	left: 800px;
}

.float-img
{
	position:relative;
	right:500px;
	float: right;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

ul {
	position: relative;
	left:400px;
	list-style-type: none;
 	margin: 0;
  	padding: 0;
 	overflow: hidden;
  	background-color: #BDB76B;
	position: fixed;
  	bottom: 0;
	width: 31%;
}

li {
	float: left;
}

li a {
	display: block;
  	color: black;
  	text-align: center;
  	padding: 0px 16px;
  	text-decoration: none;
}

li a:hover:not(.active) {
  	background-color: #111;
}

.active {
  background-color: #CCCC00;
}

@media only screen and (min-width: 360px){
	.imgrocket{
		padding: 20px 1px 1px;
		width: 300px;
	}

	.imgprofile{
		width: 100%;
		padding: 10px 10px 10px;
	}
}

@media only screen and (min-width: 500px){
	.imgrocket{
		padding: 20px 1px 1px;
		width: 330px;
	}

	.imgprofile{
		width: 100%;
		padding: 10px 10px 10px;
	}
}

@media only screen and (min-width: 768px){
	.imgrocket{
		padding: 70px 1px 1px;
		width: 50%;
	}

	ul {
		left: 185px;		
		list-style-type: none;
		overflow: hidden;
		background-color: #BDB76B;
		position: fixed;
		width: auto;
	}

	.imgprofile{
		width: 100%;
		padding: 300px 10px 10px;
	}
}


@media only screen and (min-width: 1000px){
	.imgrocket{
		padding: 70px 1px 1px;
		width: 20%;
	}
	.imgprofile{
		width: 60%;
		padding: 200px 10px 10px;
	}

	ul {
		left: 300px;
		list-style-type: none;
		overflow: hidden;
		background-color: #BDB76B;
		position: fixed;
		width: auto;
	}	
}