{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Track record</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'style.css' %}" rel = "stylesheet">
</head>
<body class = "bodypage3">

<div class="positionpage3">
<div class="container">
  <div class="row">
    <div class="col">
		<div class ="wrapper">
			<p>
				Pendidikan Formal<br><br>

				o SDN Karawaci Baru 1 2004 - 2010<br>
				o SMPN 1 Tangerang 2010 - 2013<br>
				o SMAN 1 Tangerang 2013 - 2016<br>
				o Universitas Indonesia 2018 - sekarang<br>
			</p>
		</div>
    </div>
    <div class="col">
		<div class ="wrapper">
			<p>
				Pendidikan Informal<br><br>

				o Purwa Caraka Music Studio 2007 - 2009<br>
				o Kumon 2010 - 2013<br>
				o Rynd Music 2012<br>
			</p>
		</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
		<br>
		<h1><img src="{% static 'plan.svg' %}"" alt="Planing" width="220" height="190"></h1>
    </div>

    <div class="col">
    <div class = "positionpage3">
		<div class = "wrapper">
			<p>
				Pengalaman Organisasi<br><br>

				o KIR SMAN 1 Tangerang 2013 - 2015<br>
				Anggota<br>
				o Kolosal SMAN 1 Tangerang 2015<br>
				Divisi Produksi<br>
			</p>
		</div>
    </div>
    </div>

  </div>

</div>
</div>

<ul>
	<li><a href = "/">Profile</a></li>
	<li><a class = "active" href = "/trackrecord">Track Record</a></li>
	<li><a href = "/skills">Skills</a></li>
	<li><a href = "/socialmedia">Social Media</a></li>
	<li><a href = "/jadwal">Tambah Jadwal</a></li>
	<li><a href = "/display">Display Jadwal</a></li>
	<li><a href = "/delete">Delete</a></li>
</ul>

</body>
</html>